*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    background: pink;
    width: 100%;
    height: 100%;
}
#logo{
    width: 117px;
    position: fixed;
    top: 14px;
    left: 30px;
    z-index: 1000;
}
#menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 156px;
    height: 100%;
    text-align: center;
    z-index: 1000;
    transition: all 0.4s ease;
}
ul{list-style: none}
.nav{
    background: rgba(0,0,0,0.5);
    width: 156px;
    height: 100%;
    position: absolute;
    padding-top: 100px;
    margin-left: 156px;
    transition: all 0.4s ease;
    cursor: pointer;
}
#menu:hover .nav{
    margin-left: 0;
}
#menu .box1 img{
    background:url("../images/caidan.png") no-repeat;
    width: 28px;
    height: 28px;
    transition: all 0.4s ease;

}
#menu:hover .box1 img{
    background:url("../images/chacha.png") no-repeat;
    width: 28px;
    height: 28px;
}
.nav li{
    margin: 20px 0;
}

.nav li a:hover{
    color: #ff705a;

}
.nav li a{
    color: #fff;
    text-decoration: none;
}
.box1{
    position: absolute;
    top: 40px;
    width: 156px;
    z-index: 100;
    color: #fff;



}
.box1 img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#content{
    width: 100%;
    height: 100%;
    position: absolute;

    z-index: 10;
}
.bgImg{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bgImg li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.bgImg img{
    width: 100%;
    height: 100%;
}
.txtImg li{
    opacity: 0;
}
.bgImg .change01,.txtImg .change01{
    opacity: 1;
    animation: change01 15s ease infinite;
}
.change02{animation: change02 15s ease infinite;}
.change03{animation: change03 15s ease infinite;}
.change04{animation: change04 15s ease infinite;}
.change05{animation: change05 15s ease infinite;}
@keyframes change01 {
    0%{opacity: 1}
    10%{opacity: 1}
    20%{opacity: 0}
    30%{opacity: 0}
    40%{opacity: 0}
    50%{opacity: 0}
    60%{opacity: 0}
    70%{opacity: 0}
    80%{opacity: 0}
    90%{opacity: 0}
}
@keyframes change02 {
    0%{opacity: 0}
    10%{opacity: 0}
    20%{opacity: 1}
    30%{opacity: 1}
    40%{opacity: 0}
    50%{opacity: 0}
    60%{opacity: 0}
    70%{opacity: 0}
    80%{opacity: 0}
    90%{opacity: 0}
}
@keyframes change03 {
    0%{opacity: 0}
    10%{opacity: 0}
    20%{opacity: 0}
    30%{opacity: 0}
    40%{opacity: 1}
    50%{opacity: 1}
    60%{opacity: 0}
    70%{opacity: 0}
    80%{opacity: 0}
    90%{opacity: 0}
}
@keyframes change04 {
    0%{opacity: 0}
    10%{opacity: 0}
    20%{opacity: 0}
    30%{opacity: 0}
    40%{opacity: 0}
    50%{opacity: 0}
    60%{opacity: 1}
    70%{opacity: 1}
    80%{opacity: 0}
    90%{opacity: 0}
}
@keyframes change05 {
    0%{opacity: 0}
    10%{opacity: 0}
    20%{opacity: 0}
    30%{opacity: 0}
    40%{opacity: 0}
    50%{opacity: 0}
    60%{opacity: 0}
    70%{opacity: 0}
    80%{opacity: 1}
    90%{opacity: 1}
}
.boxTxt{
    width: 1000px;
    height: 400px;
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -200px;
    color: #fff;
    text-align: center;
}
.boxTxt h1{
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0;
}
.txtImg{
    height: 104px;
    position: relative;
}
.txtImg li{
    position: absolute;
    width: 100%;
}
.btn{
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    margin: 30px auto;
}
.btn a{
    color: #fff;
    text-decoration: none;
}
.boxTxt>p{
    width: 400px;
    height: 100px;
    margin: 0 auto;
}
.boxTxt p span{
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;

}
.boxTxt p span:nth-of-type(1){
    width: 8%;
    height: 21px;
    background: url("../images/icon02.png")no-repeat;
    cursor: pointer;
    margin-top: 20px;
}
.boxTxt p span:nth-of-type(1):hover{
    background: url("../images/icon04.png")no-repeat;
    margin-top: 20px;
}
.boxTxt p span:nth-of-type(3){
    width: 12%;
    height: 21px;
    margin-top:18px;
}
#num{
    width: 80%;
    font-size: 70px;
    margin: 0 auto;
    color:#ffffff;
}

.wai{
/*    background: rgba(0,0,0,0.5);*/
    width: 1600px;
    height: 700px;
    cursor: pointer;
    display: none;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -800px;
    margin-top: -350px;
}

.jieshao{
    background:#31ffff ;
    width: 9600px;
    height: 700px;
    cursor: pointer;
    transition: all 0.4s linear;

}
.wai ul li{
    background:#31ffff ;
    width: 1600px;
    height: 700px;
    transition: all 0.4s ease;
    cursor: pointer;
    float: left;
    z-index: 1000;

}

#box{
    width: 400px;
    height: 200px;
    background: #2aad6f;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    text-align: center;
    font-size: 30px;
    line-height: 200px;
    transform: scale(0);
    transition: all .3s;
}
#close{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#guanyu {
    animation-fill-mode : forwards;
display: none;
}


@keyframes move {
    0%{ width: 80%;
        height: 80%;
        background:rgba(255,255,255,1);
        color: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        font-size: 30px;
        line-height: 200px;
        transform: scale(1);
        transition: all .3s;
        z-index: 100;
        display: inline-block;
        margin: -80% 0 0 -40%;}
    100%{     width: 80%;
        height: 80%;
        background:rgba(255,255,255,1);
        color: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        font-size: 30px;
        line-height: 200px;
        transform: scale(1);
        transition: all .3s;
        z-index: 100;
        display: inline-block;
        margin: -20% 0 0 -40%;}
}

@keyframes move1 {
    0%{ width: 80%;
        height: 80%;
        background:rgba(132,132,132,0.5);
        color: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        font-size: 30px;
        line-height: 200px;
        transform: scale(1);
        transition: all .3s;
        z-index: 100;
        display: inline-block;
        margin: -20% 0 0 -40%;}
    100%{     width: 80%;
        height: 80%;
        background:rgba(132,132,132,0.5);
        color: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        font-size: 30px;
        line-height: 200px;
        transform: scale(1);
        transition: all .3s;
        z-index: 100;
        display: inline-block;
        margin: -80% 0 0 -40%;}
}

#close1{
    width: 64px;
    height:64px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
}
.guanyuleft{
    width: 40%;
    height: 100%;
    float: left;
    display: block;
}
.guanyuright{
    width: 60%;
    height: 100%;
    display: block;
    float: left;
}
.guanyuleft a:nth-of-type(1){
    display: block;
    width: 100%;
    text-align: center;
    height: 30px;
    color:#000;
    text-shadow:5px 2px 6px  #33eedd;
    font-size: 40px;
    margin: 10px auto;
}
.guanyuleft a:nth-of-type(2){
    display: block;
    width: 60%;
    text-align: center;
    height: 30px;
    color:#000;
    text-shadow:5px 2px 6px  #33eedd;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 280px;
}
.guanyuleft a:nth-of-type(3){
    display: block;
    width: 60%;
    text-align: center;
    height: 30px;
    color:#000;
    text-shadow:5px 2px 6px  #33eedd;
    font-size: 24px;
    margin-top:60px;
    margin-left: 280px;
}
.guanyuleft a:nth-of-type(4){
    display: block;
    width: 100%;
    text-align: center;
    height: 60px;
    color:#000;
    text-shadow:5px 2px 6px  #33eedd;
    font-size: 24px;
    margin: 210px auto;
    line-height: 48px;
}
.guanyuright img{
    width: 100%;
    height: 100%;
}

.box{
    position: absolute;
    width:980px;
    height:auto;
    margin:100px auto;
}
.box li:nth-of-type(1){
    position: relative;
    width:300px;
    height:210px;
    background: #3ed;
    margin:20px 10px;
    /*   box-shadow: 0 1px 4px rgba(0,0,0,0.27);*/
    list-style: none;
    font-size: 20px;
    line-height: 20px;
    color: white;
    text-align: left;
}
.box li:nth-of-type(2){
    position: relative;
    width:580px;
    height:210px;
    background: #3ed;
    margin:80px 10px;
    /*   box-shadow: 0 1px 4px rgba(0,0,0,0.27);*/
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    color: white;text-align: left;
}
.box li:nth-of-type(2)>i {
    position: absolute;
    width: 64%;
    height: 20px;
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-align: right;
    margin-top: 60px;
}
.box li:nth-of-type(1):before {
    position: absolute;
    content: '';
    z-index: -4;
    width: 90%;
    height: 80%;
    left: 14px;
    bottom: 9px;
    box-shadow: -3px 12px 20px #03A9F4;
    transform: skew(-12deg) rotate(-4deg);
}
.box li:nth-of-type(1):after {
    content: '';
    position: absolute;
    z-index: -4;
    width: 90%;
    height: 80%;
    right: 14px;
    bottom: 9px;
    box-shadow: 3px 12px 20px #03A9F4;
    transform: skew(12deg) rotate(4deg);
}

.box li:nth-of-type(2):before {
    position: absolute;
    content: '';
    z-index: -4;
    width: 90%;
    height: 80%;
    left: 15px;
    bottom: 18px;
    box-shadow: -3px 12px 20px #03A9F4;
    transform: skew(-12deg) rotate(-4deg);
}
.box li:nth-of-type(2):after {
    content: '';
    position: absolute;
    z-index: -4;
    width: 90%;
    height: 80%;
    right: 15px;
    bottom:18px;
    box-shadow: 3px 12px 20px #03A9F4;
    transform: skew(12deg) rotate(4deg);
}

.text {
    font-size: 64px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    fill: none;/*字体不填充*/
    stroke-width: 2px;/*字体外线条宽度*/
    stroke-dasharray: 90 310;
    animation: stroke 6s infinite linear;
}
.text1 {
    font-size: 44px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    fill: none;/*字体不填充*/
    stroke-width: 2px;/*字体外线条宽度*/
    stroke-dasharray: 90 310;
    animation: stroke 6s infinite linear;
}
.text2 {
    font-size: 28px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    fill: none;/*字体不填充*/
    stroke-width: 2px;/*字体外线条宽度*/
    stroke-dasharray: 90 310;
    animation: stroke 6s infinite linear;
}
.text-1 {
    stroke: #3498db;
    text-shadow: 0 0 5px #3498db;
    animation-delay: -1.5s;
}
.text-2 {
    stroke: #f39c12;
    text-shadow: 0 0 5px #f39c12;
    animation-delay: -3s;
}
.text-3 {
    stroke: #e74c3c;
    text-shadow: 0 0 5px #e74c3c;
    animation-delay: -4.5s;
}
.text-4 {
    stroke: #9b59b6;
    text-shadow: 0 0 5px #9b59b6;
    animation-delay: -6s;
}
@keyframes stroke {
    100% {
        stroke-dashoffset:400;
    }
}